<script type="text/javascript">
window.carbonLoaded = false;

window.helloCarbon = function() {
  window.carbonLoaded = true;
}

document.addEventListener('DOMContentLoaded', function() {
  var $menuHello = document.getElementById('menuHello');
  var $huggingFace = document.getElementById('huggingFace');
  var $carbon = document.getElementById('carbon');
  var $placeholder = document.getElementById('placeholder');

  if ($menuHello) {
    setTimeout(function() {
      if (window.carbonLoaded) {
        $menuHello.style.minHeight = '218px';
        $huggingFace.style.display = 'none';
        $carbon.style.display = 'block';
      } else {
        $menuHello.style.minHeight = '0';
        $huggingFace.style.display = 'block';
        $carbon.style.display = 'none';
      }
      $placeholder.style.display = 'none';
    }, 2000);
  }
});
</script>

<aside class="menu">
  <a id="logo" class="menu-logo" href="{{site.url}}">
    <img src="{{ relBase }}/assets/png/tiger.png" alt="{{ site.title }} Logo">
  </a>
  {% if page.template != "index" %}
    <nav id="menu-nav" class="menu-nav">
      <div class="menu-search">
        <input id="menu-search-input" type="search" autocomplete="off" placeholder="Cari FAQ">
        <i class="icon is-search"></i>
      </div>
      <div id="menu-list" class="menu-list">
        <ul id="menu-list-ul" class="menu-list-ul">halo-1
          {% if page.menu_list && page.layout == "collection" %}
            {% include collections/{{page.menu_list}}.html %}
          {% else %}
            {% include lists/menu-list.html %}
          {% endif %}
        </ul>
        <i id="menu-shadow-top" class="menu-list-shadow is-top">halo-2</i>
        <i id="menu-shadow-bottom" class="menu-list-shadow is-bottom">halo-3</i>
      </div>
      <a id="menu-nav-close" class="menu-close">
        <i class="icon is-close"></i>
        <strong>Close</strong>
      </a>
    </nav>
  {% endif %}
</aside>

<footer class="footer">
  <p class="footer-title">
    <strong>{{site.subtitle}}</strong> <small>Created by <a href="https://jgthms.com">@jgthms</a></small>
  </p>
  <p class="footer-share footer-share--social">
        <a id="menu-nav-open" class="footer-share-nav">Menu</a>
  </p>
</footer>
