<article class="finder-item" data-property-name="align-content"><a class="finder-item-link" href="{{site.url}}/property/align-content"><span
            class="item-name">align-content</span></a>
    <div class="finder-item-meta"><a class="light light--collection" href="{{site.url}}/flexbox/">flexbox</a></div>
</article>
<article class="finder-item" data-property-name="align-items"><a class="finder-item-link" href="{{site.url}}/property/align-items"><span
            class="item-name">align-items</span></a>
    <div class="finder-item-meta"><a class="light light--collection" href="{{site.url}}/flexbox/">flexbox</a></div>
</article>