<article class="menu-item list-item" data-property-name="align-content">
  <a class="list-name" href="{{site.url}}/property/align-content">
    <span class="menu-item-name">align-content</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="align-items">
  <a class="list-name" href="{{site.url}}/property/align-items">
    <span class="menu-item-name">align-items</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="align-self">
  <a class="list-name" href="{{site.url}}/property/align-self">
    <span class="menu-item-name">align-self</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/flexbox/">
          <strong>flexbox</strong>
        </a>
      </span>
    </p>
</article>

<article class="menu-item list-item" data-property-name="animation-delay">
  <a class="list-name" href="{{site.url}}/property/animation-delay">
    <span class="menu-item-name">animation-delay</span>
  </a>
    <p class="list-collections">
      <span>
        <span>In collection:</span>
        <a href="{{site.url}}/animations/">
          <strong>animations</strong>
        </a>
      </span>
    </p>
</article>