halo
<li class="menu-item" data-property-name="align-content"><a class="menu-link" href="{{site.url}}/property/align-content"
        data-property-name="align-content"><span class="item-name">align-content</span></a></li>
<li class="menu-item" data-property-name="align-items"><a class="menu-link" href="{{site.url}}/property/align-items"
        data-property-name="align-items"><span class="item-name">align-items</span></a></li>
<li class="menu-item" data-property-name="align-self"><a class="menu-link" href="{{site.url}}/property/align-self"
        data-property-name="align-self"><span class="item-name">align-self</span></a></li>
<li class="menu-item" data-property-name="animation-delay"><a class="menu-link" href="{{site.url}}/property/animation-delay"
        data-property-name="animation-delay"><span class="item-name">animation-delay</span></a></li>
